<!--src/app/bmi-calculator/bmi-calculator.component.html-->

<div class="container">
  <h1>Rob Schlenker's</h1>
  <h3>BMI CALCULATOR IN ANGULAR</h3>
  <div class="unit-buttons">
    <button
      (click)="setUnit('metric')"
      [class.active]="selectedUnit === 'metric'"
    >
      Metric
    </button>
    <button
      (click)="setUnit('imperial')"
      [class.active]="selectedUnit === 'imperial'"
    >
      Imperial
    </button>
  </div>
  <div><button (click)="resetInputs()">Reset</button></div>
  <div class="input-group" *ngIf="selectedUnit === 'metric'">
    <label>
      <p>Height</p>
      <input
        type="number"
        min="0"
        [(ngModel)]="metricHeight"
        placeholder="Height (cm)"
      />
      <p>Weight</p>
      <input
        type="number"
        min="0"
        [(ngModel)]="metricWeight"
        placeholder="Weight (kg)"
      />
    </label>
  </div>
  <div class="input-group" *ngIf="selectedUnit === 'imperial'">
    <label>
      <p>Height Feet</p>
      <input
        type="number"
        min="0"
        [(ngModel)]="imperialHeightFeet"
        placeholder="Height (feet)"
      />
      <p>Height Inches</p>
      <input
        type="number"
        min="0"
        [(ngModel)]="imperialHeightInches"
        placeholder="Height (inches)"
      />
      <p>Weight</p>
      <input
        type="number"
        min="0"
        [(ngModel)]="imperialWeight"
        placeholder="Weight (lbs)"
      />
    </label>
  </div>
  <button (click)="calculateBMI()">Calculate</button>
  <div class="result" *ngIf="bmiResult !== null">
    <h3>Your BMI: {{ bmiResult }}</h3>
    <h3>Status: {{ status }}</h3>
  </div>
</div>
